---
dependency:
  name: galaxy

driver:
  name: docker

platforms:
  - name: instance
    image: geerlingguy/docker-ubuntu2204-ansible:latest
    privileged: true

provisioner:
  name: ansible
  config_options:
    defaults:
      roles_path: ../../

verifier:
  name: ansible
